.arcgisGeocoder {
	width:250px;
	font-size:12px;
	line-height:16px;
	font-family: verdana,helvetica;
}

.arcgisGeocoder ul {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}

.arcgisGeocoder .esriGeocoderIcon {
	float:right;
	outline:0;
	width:16px;
	height:16px;
	display:block;
	overflow:hidden;
	margin:2px 5px 2px 0;
}

.dj_rtl .arcgisGeocoder .esriGeocoderIcon {
	float:left;
	margin:2px 0 2px 5px;
}

.esriGeocoder .esriGeocoderClearFloat {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.arcgisGeocoder .esriGeocoder {
	display:block;
	width:100%;
	margin:0;
	border:1px solid #8b8b8b;
	background:#fff;
}

.arcgisGeocoder .esriGeocoderActive,.arcgisGeocoder .esriGeocoderMenuActive {
	border-bottom:0;
}

.arcgisGeocoder .esriGeocoder input {
	outline:0;
	display:block;
	border:0;
	border-collapse:collapse;
	vertical-align:middle;
	font-size:12px;
	line-height:16px;
	margin:0;
	padding:2px 0;
	float:left;
	color:#444;
	background:none;
	margin:0 5px;
	width:196px;
}

.arcgisGeocoder .esriGeocoderMultiple input {
	width:175px;
}

.dj_rtl .arcgisGeocoder .esriGeocoder input {
	float:right;
}

.arcgisGeocoder .esriGeocoder input:focus {
	color:#333;
}

.arcgisGeocoder .esriGeocoder .esriGeocoderSearch {
	cursor:pointer;
	background:url(../images/arcgisGeocoder.png) no-repeat 0 0;
}

.arcgisGeocoder .esriGeocoder .esriGeocoderSearch:hover,.arcgisGeocoder .esriGeocoder .esriGeocoderSearch:focus {
	opacity:.75;
}

.arcgisGeocoder .esriGeocoder .esriGeocoderReset {
    display: none;
}

.arcgisGeocoder .esriGeocoderHasValue .esriGeocoderReset {
    display: block;
	cursor:pointer;
	background:url(../images/arcgisGeocoder.png) no-repeat -48px 0;
}

.arcgisGeocoder .esriGeocoderLoading .esriGeocoderReset{
	background:url(../images/loading.gif) center center no-repeat;
}

.arcgisGeocoder .esriGeocoder .esriGeocoderReset:hover,.arcgisGeocoder .esriGeocoder .esriGeocoderReset:focus {
	opacity:.75;
}

.arcgisGeocoder .esriGeocoder .esriGeocoderMenuArrow {
	cursor:pointer;
	background:url(../images/arcgisGeocoder.png) no-repeat -32px 0;
}

.arcgisGeocoder .esriGeocoder .esriGeocoderMenuArrow:hover,.arcgisGeocoder .esriGeocoder .esriGeocoderMenuArrow:focus {
	opacity:.75;
}

.arcgisGeocoder .esriGeocoderResults {
	display:none;
	z-index:99;
	width:100%;
	position:absolute;
	left:0;
	top:100%;
	margin:-1px 0 0;
	border:1px solid #8b8b8b;
	border-top:0;
	padding:0;
	background:#fff;
}

.arcgisGeocoder .esriGeocoderResult {
	padding:5px;
	display:block;
	cursor:pointer;
	outline:0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

.arcgisGeocoder .esriGeocoderResult:hover,.arcgisGeocoder .esriGeocoderResultEven:focus,.arcgisGeocoder .esriGeocoderResultOdd:focus {
	background-color:#d9e7fa;
}

.arcgisGeocoder .esriGeocoderResult .esriGeocoderResultPartial {
	font-weight:700;
}

.arcgisGeocoder .esriGeocoderMenu {
	display:none;
	width:100%;
	z-index:99;
	position:absolute;
	left:0;
	top:100%;
	margin:-1px 0 0;
	padding:0;
	background:#fff;
	border:1px solid #8b8b8b;
	border-top:0;
}

.dj_rtl .arcgisGeocoder .esriGeocoderMenu,.dj_rtl .arcgisGeocoder .esriGeocoderResults {
	left:auto;
	right:0;
}

.arcgisGeocoder .esriGeocoderMenu .esriGeocoderMenuHeader {
	padding:0 0 5px;
	margin:5px;
	display:block;
	border-bottom:1px solid #8b8b8b;
	color:#000;
	font-weight:700;
}

.arcgisGeocoder .esriGeocoderMenu .esriGeocoderMenuClose {
	display:block;
	float:right;
	width:16px;
	height:16px;
	background:url(../images/arcgisGeocoder.png) no-repeat -64px 0;
	cursor:pointer;
	outline:0;
}

.dj_rtl .arcgisGeocoder .esriGeocoderMenu .esriGeocoderMenuClose {
	float:left;
}

.arcgisGeocoder .esriGeocoderMenu .esriGeocoderMenuClose:hover,.arcgisGeocoder .esriGeocoderMenu .esriGeocoderMenuClose:focus {
	opacity:.75;
}

.arcgisGeocoder .esriGeocoderMenu .esriGeocoderSelectedCheck {
	width:16px;
	height:16px;
	display:block;
	float:right;
	margin:0 0 0 5px;
}

.dj_rtl .arcgisGeocoder .esriGeocoderMenu .esriGeocoderSelectedCheck {
	float:left;
	margin:0 5px 0 0;
}

.arcgisGeocoder .esriGeocoderMenu .esriGeocoderSelected .esriGeocoderSelectedCheck {
	background:url(../images/arcgisGeocoder.png) no-repeat -16px 0;
}