.esriAutocomplete .esriAc {
    width: 192px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin: 0;
    border: 1px solid #ccc;
    background: #f6f6f6;
    background: url(data:image/svg+xml;
    base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#fefefe 100%);
    background: -o-linear-gradient(top,  #f6f6f6 0%,#fefefe 100%);
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#fefefe 100%);
    background: linear-gradient(to bottom,  #f6f6f6 0%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#fefefe',GradientType=0 );
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.esriAutocomplete .esriAcLocatorMenu{
    display: inline-block;
}

.esriAutocomplete .esriAcActive {
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    border-bottom: 0;
}

.esriAutocomplete .esriAc input {
    outline: 0;
    display: inline-block;
    border: 0;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    position: relative;
    left: 26px;
    top: 0;
    color: #333;
    background: none;
    width: 140px;
}

.esriAutocomplete .esriAc input:focus {
    color: #333;
}

.esriAutocomplete .esriAc .esriAcSearch {
    outline: 0;
    position: absolute;
    left: 5px;
    top: 50%;
    margin: -8px 0 0 0;
    width: 16px;
    height: 16px;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/search.png) no-repeat;
}

.esriAutocomplete .esriAc .esriAcSearch:hover, .esriAutocomplete .esriAc .esriAcSearch:focus {
    opacity: 0.75;
}

.esriAutocomplete .esriAc .esriAcClear {
    outline: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    margin: -8px 0 0 0;
    width: 16px;
    height: 16px;
    z-index: 2;
    overflow: hidden;
    display: none;
}

.esriAutocomplete .esriAc .esriAcClearActive {
    display: block;
    background: url(../images/reset.png) no-repeat;
    cursor: pointer;
}

.esriAutocomplete .esriAc .esriAcLoading {
    background: url(../images/ajax-loader.gif) no-repeat;
}

.esriAutocomplete .esriAc .esriAcClear:hover, .esriAutocomplete .esriAc .esriAcClear:focus {
    opacity: 0.75;
}

.esriAutocomplete .esriAcResults {
    z-index: 99;
    position: absolute;
    left: 0;
}

.esriAutocomplete .esriAcResults ul {
    margin: 0 0 0 1px;
    padding: 0;
    list-style: none;
    background: #fff;
    font-size: 14px;
    line-height: 18px;
    -webkit-box-shadow: 0px 0px 2px 0px #999999;
    box-shadow: 0px 0px 2px 0px #999999;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 250px;
}

.esriAutocomplete .esriAcResults li {
    padding: 6px 10px;
    cursor: pointer;
    outline: 0;
}

.esriAutocomplete .esriAcResults .even {
    background-color: whiteSmoke;
}

.esriAutocomplete .esriAcResults li:hover, .esriAutocomplete .esriAcResults .even:focus, .esriAutocomplete .esriAcResults .odd:focus {
    color: #fff;
    background-color: #007ac2;
}

.esriAutocomplete .esriAcResults li strong {
    font-weight: bold;
}