.arcgisTheme {
    width: 250px;
    font-size: 12px;
    line-height: 16px;
}

.arcgisTheme ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.arcgisTheme .esriGeocoder {
    display: block;
    width: 100%;
    margin: 0;
    border: 1px solid #8b8b8b;
    background: #fff;
}

.arcgisTheme .esriGeocoderActive, .arcgisTheme .esriGeocoderMenuActive {
    border-bottom: 0;
}

.arcgisTheme .esriGeocoder input {
    outline: 0;
    display: block;
    border: 0;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 2px 0;
    float: left;
    color: #444;
    background: none;
    margin: 0 5px;
    width: 175px;
}

.dj_rtl .arcgisTheme .esriGeocoder input {
    float: right;
}

.arcgisTheme .esriGeocoder input:focus {
    color: #333;
}

.arcgisTheme .esriGeocoder .esriGeocoderSearch {
    cursor: pointer;
    background: url(../images/search.png) no-repeat;
}

.arcgisTheme .esriGeocoder .esriGeocoderSearch:hover, .arcgisTheme .esriGeocoder .esriGeocoderSearch:focus {
    opacity: 0.75;
}

.arcgisTheme .esriGeocoder .esriGeocoderResetActive {
    cursor: pointer;
    background: url(../images/reset.png) no-repeat;
}

.arcgisTheme .esriGeocoder .esriGeocoderLoading {
    background: url(../images/loading.gif) center center no-repeat;
}

.arcgisTheme .esriGeocoder .esriGeocoderReset:hover, .arcgisTheme .esriGeocoder .esriGeocoderReset:focus {
    opacity: 0.75;
}

.arcgisTheme .esriGeocoder .esriGeocoderMenuArrow {
    cursor: pointer;
    background: url(../images/bullet_arrow_down.png) left center no-repeat;
}

.arcgisTheme .esriGeocoder .esriGeocoderMenuArrow:hover, .arcgisTheme .esriGeocoder .esriGeocoderMenuArrow:focus {
    opacity: 0.75;
}

.arcgisTheme .esriGeocoderResults {
    display: none;
    z-index: 99;
    width: 100%;
    position: absolute;
    left: 0;
    margin: -1px 0 0 0;
    border: 1px solid #8b8b8b;
    border-top: 0;
    padding: 0;
    background: #fff;
}

.arcgisTheme .esriGeocoderResult {
    padding: 5px;
    display: block;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.arcgisTheme .esriGeocoderResult:hover, .arcgisTheme .esriGeocoderResultEven:focus, .arcgisTheme .esriGeocoderResultOdd:focus {
    background-color: #d9e7fa;
}

.arcgisTheme .esriGeocoderResult .esriGeocoderResultPartial {
    font-weight: bold;
}

.arcgisTheme .esriGeocoderMenu {
    display: none;
    width: 100%;
    z-index: 99;
    position: absolute;
    left: 0;
    margin: -1px 0 0 0;
    padding: 0;
    background: #fff;
    border: 1px solid #8b8b8b;
    border-top: 0;
}

.dj_rtl  .arcgisTheme .esriGeocoderMenu, .dj_rtl  .arcgisTheme .esriGeocoderResults {
    left: auto;
    right: 0;
}

.arcgisTheme .esriGeocoderMenu .esriGeocoderMenuHeader {
    padding: 0 0 5px 0;
    margin: 5px;
    display: block;
    border-bottom: 1px solid #8b8b8b;
    color: #000;
    font-weight: bold;
}

.arcgisTheme .esriGeocoderMenu .esriGeocoderMenuClose {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url(http://d3w50ib5d2uy0g.cloudfront.net/cdn/2018/images/close.gif) no-repeat;
    cursor: pointer;
    outline: 0;
}

.dj_rtl .arcgisTheme .esriGeocoderMenu .esriGeocoderMenuClose {
    float: left;
}

.arcgisTheme .esriGeocoderMenu .esriGeocoderMenuClose:hover, .arcgisTheme .esriGeocoderMenu .esriGeocoderMenuClose:focus {
    opacity: 0.75;
}

.arcgisTheme .esriGeocoderMenu .esriGeocoderSelectedCheck {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    margin: 0 0 0 5px;
}

.dj_rtl .arcgisTheme .esriGeocoderMenu .esriGeocoderSelectedCheck {
    float: left;
    margin: 0 5px 0 0;
}

.arcgisTheme .esriGeocoderMenu .esriGeocoderSelected .esriGeocoderSelectedCheck {
    background: url(../images/tick_circle.png) no-repeat 0 0;
}

.arcgisTheme .esriGeocoderIcon {
    float: right;
    outline: 0;
    width: 16px;
    height: 16px;
    display: block;
    overflow: hidden;
    margin: 2px 5px 2px 0;
}

.dj_rtl .arcgisTheme .esriGeocoderIcon {
    float: left;
    margin: 2px 0 2px 5px;
}

.esriGeocoder  .esriGeocoderClearFloat {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}