.simpleGeocoder {
    width: 225px;
    font-size: 12px;
    line-height: 16px;
}

.simpleGeocoder ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.simpleGeocoder .esriGeocoderIcon {
    float: left;
    outline: 0;
    width: 16px;
    height: 16px;
    display: block;
    overflow: hidden;
    margin: 6px 0 6px 5px;
}

.dj_rtl .simpleGeocoder .esriGeocoderIcon {
    float: right;
    margin: 6px 5px 6px 0;
}

.esriGeocoder  .esriGeocoderClearFloat {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.simpleGeocoder .esriGeocoder {
    display: block;
    width: 100%;
    margin: 0;
    border: 1px solid #666;
    background: #fff;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 0.5em #BBB;
    box-shadow: 0 0 0.5em #BBB;
}

.simpleGeocoder .esriGeocoderActive, .simpleGeocoder .esriGeocoderMenuActive {
    border-bottom: 0;
    -webkit-border-radius: 9px 9px 0 0;
    border-radius:  9px 9px 0 0;
}

.simpleGeocoder .esriGeocoder input {
    outline: 0;
    display: block;
    border: 0;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 6px 0;
    float: left;
    color: #444;
    background: none;
    margin: 0 5px;
    width: 144px;
}

.dj_rtl .simpleGeocoder .esriGeocoder input {
    float: right;
}

.simpleGeocoder .esriGeocoder input:focus {
    color: #333;
}

.simpleGeocoder .esriGeocoder .esriGeocoderSearch {
    cursor: pointer;
    margin-left:9px;
    background: url(../images/simpleGeocoder.png) no-repeat 0 0;
}
.dj_rtl .simpleGeocoder .esriGeocoder .esriGeocoderSearch {
    margin-left:0;
    margin-right:9px;
}

.simpleGeocoder .esriGeocoder .esriGeocoderSearch:hover, .simpleGeocoder .esriGeocoder .esriGeocoderSearch:focus {
    opacity: 0.75;
}

.simpleGeocoder .esriGeocoder .esriGeocoderReset{
    margin: 6px 9px 6px 0;
    float: right;
}

.dj_rtl .simpleGeocoder .esriGeocoder .esriGeocoderReset{
    margin: 6px 0 6px 9px;
    float: left;
}

.simpleGeocoder .esriGeocoder .esriGeocoderResetActive {
    cursor: pointer;
    background: url(../images/simpleGeocoder.png) no-repeat -48px 0;
}

.simpleGeocoder .esriGeocoder .esriGeocoderLoading {
    background: url(../images/loading.gif) center center no-repeat;
}

.simpleGeocoder .esriGeocoder .esriGeocoderReset:hover, .simpleGeocoder .esriGeocoder .esriGeocoderReset:focus {
    opacity: 0.75;
}

.simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow {
    cursor: pointer;
    background: url(../images/simpleGeocoder.png) no-repeat -32px 0;
}

.simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow:hover, .simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow:focus {
    opacity: 0.75;
}

.simpleGeocoder .esriGeocoderResults {
    display: none;
    z-index: 99;
    width: 100%;
    position: absolute;
    left: 0;
    top:100%;
    margin: -1px 0 0 0;
    border: 1px solid #666;
    border-top: 0;
    padding: 0;
    background: #fff;
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
    -webkit-box-shadow: 0 0.5em 0.5em #BBB;
    box-shadow: 0 0.5em 0.5em #BBB;
}

.simpleGeocoder .esriGeocoderResult {
    padding: 6px 9px;
    display: block;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.simpleGeocoder .esriGeocoderResultOdd{
}

.simpleGeocoder .esriGeocoderResult:hover, .simpleGeocoder .esriGeocoderResultEven:focus, .simpleGeocoder .esriGeocoderResultOdd:focus {
    background-color: #ededed;
}

.simpleGeocoder .esriGeocoderResultLast{
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
}

.simpleGeocoder .esriGeocoderResult .esriGeocoderResultPartial {
    font-weight: bold;
}

.simpleGeocoder .esriGeocoderMenu {
    display: none;
    width: 100%;
    z-index: 99;
    position: absolute;
    left: 0;
    top:100%;
    margin: -1px 0 0 0;
    padding: 0;
    background: #fff;
    border: 1px solid #666;
    border-top: 0;
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
    -webkit-box-shadow: 0 0.5em 0.5em #BBB;
    box-shadow: 0 0.5em 0.5em #BBB;
}

.dj_rtl  .simpleGeocoder .esriGeocoderMenu, .dj_rtl  .simpleGeocoder .esriGeocoderResults {
    left: auto;
    right: 0;
}

.simpleGeocoder .esriGeocoderMenu .esriGeocoderMenuHeader {
    padding: 6px 9px 6px 9px;
    margin: 0;
    display: block;
    background:#666;
    color:#fff;
    font-weight: bold;
}

.simpleGeocoder .esriGeocoderMenu .esriGeocoderMenuClose {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url(../images/simpleGeocoder.png) no-repeat -64px 0;
    cursor: pointer;
    outline: 0;
}

.dj_rtl .simpleGeocoder .esriGeocoderMenu .esriGeocoderMenuClose {
    float: left;
}

.simpleGeocoder .esriGeocoderMenu .esriGeocoderMenuClose:hover, .simpleGeocoder .esriGeocoderMenu .esriGeocoderMenuClose:focus {
    opacity: 0.75;
}

.simpleGeocoder .esriGeocoderMenu .esriGeocoderSelectedCheck {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    margin: 0 0 0 9px;
}

.dj_rtl .simpleGeocoder .esriGeocoderMenu .esriGeocoderSelectedCheck {
    float: left;
    margin: 0 9px 0 0;
}

.simpleGeocoder .esriGeocoderMenu .esriGeocoderSelected .esriGeocoderSelectedCheck {
    background: url(../images/simpleGeocoder.png) no-repeat -16px 0;
}